@import "../../global.scss";
.works {
  @include bg-gradient-right;
  @include flex-row-cc;
  position: relative;

  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;
    @include large {
      background-color: rgba($darkColor, 0.7);
      border-radius: 50%;
      padding: 5px;
      width: 40px;
      height: 40px;
    }

    &.left {
      left: 100px;
      transform: rotateY(180deg);
      @include large {
        left: 10px;
      }
    }

    &.right {
      right: 100px;
      @include large {
        right: 10px;
      }
    }
  }

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    .container {
      width: 100vw;
      @include flex-row-cc;

      .item {
        width: 700px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        @include flex-row-cc;
        @include large {
          flex-direction: column;
          width: 90%;
        }

        .left {
          flex: 4;
          height: 100%;
          @include flex-row-cc;
          @include large {
            flex: 6;
          }

          .leftContainer {
            width: 90%;
            height: 70%;
            @include flex-row-cc;
            flex-direction: column;
            @include large {
              height: 100%;
            }
            .icon-container {
              @include flex-row-fs;
              width: 100%;
              .imgContainer {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                @include bg-gradient-right;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 5px;

                img {
                  width: 100%;
                }
              }
              h2 {
                font-size: 20px;
                @include middle {
                  font-size: 16px;
                }
                @include small {
                  float: left !important;
                }
              }
            }
            p {
              font-size: 13px;
              text-indent: 12px;
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          @include flex-row-cc;
          overflow: hidden;
          @include large {
            flex: 6;
          }

          img {
            width: 400px;
            transform: rotate(-10deg);
            @include large {
              width: 250px;
            }
          }
        }
      }
    }
  }
}
